.cmp--scholarships {
  .bolsa a {
    position: relative;
    display: inline-block;
    width: 100%;
    border-top: $border-top-width solid $border-top-color;

    img {
      width: 100%;
    }

    .name {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($c-blue, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $c-white;

      span {
        font-size: 1.125rem;
        line-height: 1.4rem;
        opacity: 0.8;
        background-color: $c-pink;
        padding: 2px 5px;
        width: 50%;
        display: inline-block;
        color: $c-white;
        text-align: center;
      }
    }

    @include hover-focus-active {
      .name {
        background-color: transparent;
      }
    }
  }
}
